<div class="intro">
  <h1>Welcome to Namer!</h1>
  <p class="lead">Collaborative name brainstorming via<br />anonymous name suggestions and simple voting.</p>
  <%= link_to 'Start a new naming project →', new_naming_project_path, class: 'btn btn-large btn-success' %>
</div>
