<h2>
  <%= link_to @project.display_name.humanize, @project %>
</h2>

<%= render 'projects/description' %>
<%= render 'projects/ranked_suggestions' %>

<p><%= link_to t('.back_to_project'), @project %></p>
