<h1>About Namer</h1>

<p>Thrown quickly together by <%= link_to 'Dimitar Dimitrov', 'http://ddimitrov.name' %>.</p>
<p>You can find the <%= link_to 'full source code on GitHub', 'https://github.com/mitio/namer' %>.</p>
