<%= simple_form_for @project, html: {class: 'form-vertical'} do |f| %>
  <fieldset>
    <legend>New Project</legend>
    <%= render 'form_fields', f: f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Create your project', class: 'btn btn-success' %>
    or <%= link_to 'Go to the homepage', root_path %>
  </div>
<% end %>
