<%= simple_form_for @naming_project, html: {class: 'form-vertical'} do |f| %>
  <fieldset>
    <legend>Edit Naming Project</legend>
    <%= render 'form_fields', f: f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Save changes', class: 'btn btn-success' %>
    or <%= link_to 'Go back to the project', naming_project_path(@naming_project) %>
  </div>
<% end %>
