<%= simple_form_for @naming_project, html: {class: 'form-vertical'} do |f| %>
  <fieldset>
    <legend>New Naming Project</legend>
    <%= f.input :description, hint: 'You can use simple HTML here. Paragraphs will be automatically created for you.' %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Create your project', class: 'btn btn-success' %>
    or <%= link_to 'Go to the homepage', root_path %>
  </div>
<% end %>
