.form-vertical {
	textarea {
		width: 60%;
		height: 120px;
	}
}

.form-inline {
	margin: 0;
}

.saved {
	float: left;
	background-color: #51a351;
	color: #fff;
	border-radius: 2px;
	margin: 0 4px;
	padding: 0 8px;
}

.control-inline {
	.control-label {
		width: auto;
		text-align: left;
		padding-top: 0;
		margin-left: 5px;
	}
	label.checkbox { float: left; }
}
