//= require twitter/bootstrap
//= require twitter/responsive
//= require_self
//= require_tree .

@media (min-width: 980px) {
	body {
		padding-top: 80px;
		padding-bottom: 50px;
	}
}

.well {
	p:last-child {
		margin-bottom: 0;
	}
}

h2 {
	.nav {
		float: right;
		font-size: 17.5px;
		font-weight: normal;
	}
}
