@import '_comments';

.table.projects {
	.actions {
		a {
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.table.suggestions {
	.name {
		width: 30%;
	}
	.btn-danger {
		height: 18px;
		line-height: 16px;
		background: #eee;
		color: #777;
		text-shadow: none;
		&:hover {
			background: #e22;
			color: #FFF;
			text-shadow: 0 -1px 0 #222;
		}
	}
	@include comments();
}
