.table.ranked-suggestions {
	.vote-counts {
		.vote {
			.count {
				font-weight: bold;
			}
			&.vote-veto {
				color: #f00;
				font-weight: bold;
			}
		}
	}
	.comments {
		margin-top: 10px;
		p {
			margin: 0;
		}
	}
}
