@import '_comments';

.table.ranked-suggestions {
	.vote-counts {
		.vote {
			.count {
				font-weight: bold;
			}
			&.vote-veto {
				color: #f00;
				.count, .type {
					font-weight: bold;
				}
			}
		}
	}
	@include comments();
}
