.table.ranked-suggestions {
	.vetoes {
		display: inline-block;
		padding: 0 5px;
		background-color: #e22;
		color: #fff;
		border-radius: 2px;
	}
	.comments {
		margin-top: 10px;
		p {
			margin: 0;
		}
	}
}
