<% vote ||= nil %>
<tr id="<%= dom_id suggestion %>">
  <td>
    <%= suggestion.name %>
    <%= render 'suggestions/delete_button', suggestion: suggestion %>
  </td>
  <td><%= render 'votes/form', suggestion: suggestion, vote: vote %></td>
</tr>
